body {
  text-align: center;

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
}
.wholeContainer {
  background-color: #9fb1bcff;
}
label {
  display: block;
  margin-bottom: 7px;
  font-size: 25px;
}
input {
  margin-bottom: 10px;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: "Fredoka One", cursive;
  font-size: 15px;
}
button {
  width: 120px;
  height: 30px;
  font-family: "Fredoka One", cursive;
}
input {
  text-align: center;
}
nav {
  text-align: center;
  margin: auto;
  background-color: #2e5266ff;
  color: #6e8898ff;
}
footer {
  text-align: center;
  margin: auto;
  background-color: #2e5266ff;
  margin-top: 280px;
  color: #6e8898ff;
}
li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0px;
  padding: 5px;
  font-size: 50px;
}
nav a {
  font-size: 35px;
  color: darkcyan;
}
a:hover {
  color: cyan;
}
footer h3 {
  margin: 0px;
}
.container {
  color: rgb(33, 54, 66);
  margin-top: 70px;
}
nav li {
  margin-bottom: 30px;
}
.M-better-By-MYself {
  font-size: 70px;
}
button {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  border: none;
  color: azure;
  background-color: rgb(43, 43, 109);
  cursor: pointer;
}
